@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@font-face { font-family: "Anger Style"; src: url("../fonts/AngerStyles.ttf"); }

@font-face { font-family: "Chellin"; src: url("../fonts/AngerStyles.ttf"); }

* {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  background-color: #17082c;
  background-image: linear-gradient(326deg, #17082c 0%, #1d0627 74%);
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  color: whitesmoke;
  text-decoration: none;
}

a:hover {
  color: whitesmoke;
}

table tr {
  color: whitesmoke;
}

header {
  z-index: 1;
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 20px 13px 2px #0000006e;
  background-color: #85888c;
}

header h1 {
  font-family: "Anger Style", sans-serif;
  color: whitesmoke;
  font-size: 35px;
  padding: 10px 0;
  width: 85%;
}

.main {
  margin: 100px 0 20px 0;
}

.main h1 {
  text-align: center;
  margin-bottom: 60px;
  color: whitesmoke;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 106px;
}

.left_side {
  width: 400px;
}

.leaderList {
  padding: 25px 10px;
  height: 350px;
  overflow: scroll;
  scroll-behavior: smooth;
}

.left_side .tite {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rigth_side {
  width: 300px;
}

.rigth_side form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.rigth_side form input[type="submit"] {
  align-self: flex-end;
}

.rigth_side form input[type="text"] {
  background-color: #17082c;
  border: 0.9px solid #85888c;
  padding: 10px 10px;
  outline: none;
  color: white;
}

.rigth_side form input[type="text"]:focus {
  border: 0.9px solid white;
}

.rigth_side h3 {
  color: #85888c;
  margin-bottom: 20px;
}

.tite h3 {
  color: #85888c;
  margin-bottom: 20px;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: whitesmoke;
}

.humberger {
  cursor: pointer;
}

.btn {
  border: 1px solid #17082c;
  background: white;
}

.btn:hover {
  color: whitesmoke;
  border: 1px solid whitesmoke;
  background: #aba5a5;
}

footer {
  position: fixed;
  bottom: 0;
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #17082c;
  height: 7.5vh;
  width: 100%;
}
